<html>
	<head>
		<title>To-Do lists</title>
		<style>
    		table, th, td {
      			border: 1px solid black;   /* Czarne linie siatki */
      			border-collapse: collapse; /* Pojedyncze linie zamiast podwójnych */
      			padding: 6px;              /* Minimalny odstęp tekst-ramka */
			    }
  		</style>
	</head>
	<body>
		<h1>Your To-Do list.</h1>
		<input id="id_new_element" placeholder="Enter a to-do item"/>
		<table id="id_list_table">
			<tr>1: Buy peacock feathers</tr>
		</table>
	</body>
</html>